@page "/funfacts"



<h3>Opdracht geboortedatum FunFacts</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>@result</p>
            <button class="btn btn-primary btn-lg mb-2" @onclick="CalculateFunFacts">Opnieuw</button>
        </div>
    </div>
</div>




