@page "/"

<PageTitle>Index</PageTitle>

<title>Movies</title>

<NavLink href="movies" Match="NavLinkMatch.All">
    <button class="btn btn-primary">Movies</button>
</NavLink>

<NavLink href="foto" Match="NavLinkMatch.All">
    <button class="btn btn-primary">Foto</button>
</NavLink>

<NavLink href="funfacts" Match="NavLinkMatch.All">
    <button class="btn btn-primary">FunFacts</button>
</NavLink>

<NavLink href="dobbelen" Match="NavLinkMatch.All">
    <button class="btn btn-primary">Dobbelen</button>
</NavLink>
